---
layout: section
type: secondarysection
title: Skills
---

<aside class="skills aside section">
  <h3 class="title with-icon"><span class="fa fa-code cat-title"></span> Programming Skills</h3>
  <div class="grid-block">
    {% if site.author.programming_skills %}
        <div class="skillset">
            <ul class="list-unstyled list-skills">
                {% for programmingSkill in site.author.programming_skills %}
                    <li>
                        {% if programmingSkill.name %}
                        <div class="item">
                        <h5 class="level-title">{{ programmingSkill.name }}
                          <span class="level-label" data-toggle="tooltip" data-placement="right" data-animation="true" title="{{programmingSkill.experience_description}}">{{programmingSkill.experience}}</span>
                        </h5>
                        {% endif %}
                        {% if programmingSkill.percentage %}
                        <div class="level-bar">
                          <div class="level-bar-inner" data-level="{{ programmingSkill.percentage }}" data-toggle="tooltip" data-animation="true" data-placement="bottom" title="{{ programmingSkill.percentage }}">
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  </div>
</aside>
<div class="deviter"></div>
