---
layout: default
type: secondarysection
title: Languages
---

<aside class="languages aside section">
  <h3 class="title with-icon"><span class="fa fa-globe cat-title"></span> Language Skills</h3>
  <div class="grid-block">
    {% if site.author.languages %}
        <div class="languages">
            <ul class="list-unstyled list-strip">
                {% for language in site.author.languages %}
                    {% if language.name %}
                        {% if language.proficiency %}
                            <li>
                                <i class="fa fa-check-circle-o"></i> <span class="badge badge-green badge-right-float">{{ language.proficiency }}</span>{{ language.name }}
                            </li>
                            <div class="deviterTable"></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  </div>
</aside>
<div class="deviter"></div>
