---
layout: section
type: secondarysection
title: Publications
---

<aside class="publications aside section">
  <h3 class="title with-icon"><span class="fa fa-book cat-title"></span>Publications</h3>
  <div class="grid-block">
      {% if site.author.publications %}
          <ul class="timeline">
              {% for pub in site.author.publications %}
                  <li class="timeline-inverted">
                      {% if pub.year %}
                          <div class="timeline-badge info">{{ pub.year }}</div>
                      {% endif %}
                      <div class="timeline-panel grid-block">
                          <div class="timeline-heading">
                              {% if pub.title %}
                                  <h4 class="timeline-title">{{ pub.title }} </h4>
                              {% endif %}
                              <p>
                                  <small class="text-muted">
                                      {% if pub.authors %}
                                          {{ pub.authors }}
                                      {% endif %}
                                  </small>
                              </p>
                              <p>
                                  <small class="text-muted">
                                      {% if pub.conference %}
                                          <i class="fa fa-map-marker"></i>  {{ pub.conference }}
                                      {% endif %}
                                  </small>
                              </p>
                          </div>
                          <div class="timeline-body">
                              {% if pub.description %}
                                  <p>{{ pub.description }}</p>
                              {% endif %}
                          </div>
                      </div>
                  </li>
              {% endfor %}
          </ul>
      {% endif %}
      </ul>
  </div>
</aside>
<div class="deviter"></div>
