<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ich freue mich über neue Kontakte</h2>
                <hr class="primary">
                <p> Wenn Sie daran Interesse haben, Ihr nächstes Projekt mit mir zu starten oder
                  mir einfach eine nette Nachricht hinterlassen wollen, dann treten Sie doch gerne mit mir in Kontakt.
                </p>
                <p> Sie können mir eine E-Mail schreiben oder mich über eines der angegebenen Netzwerke erreichen. </p>

                <p> Ich werde Ihnen schnellstmöglich antworten.</p>
            </div>
        <!--<div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div> -->
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.xing.com/profile/{{ site.xing_name }}">
            <i class="fa fa-xing fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.name }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_name }}">
            <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.name }}</p>
            </a>
        </div>

    </div>
</section>
