<aside class="bg-dark">
    <div class="container text-center">
          <div class="col-md-6">
            Copyright &copy; {{ site.copyright }} <a href="{{ site.baseurl }}">{{ site.title }}</a>
          </div>
          <div class="col-md-6">
              <ul class="list-inline quicklinks">
                  <li>
                    <a href="{{ site.baseurl }}imprint/">Imprint</a>
                  </li>
                    &ndash;
                  <li>
                    <a href="{{ site.baseurl }}credits/">Credits</a>
                  </li>
              </ul>
          </div>
    </div>
</aside>
