<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Julian Giesen</title>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}assets/plugins/font-awesome/css/font-awesome.css">   
    <!-- Theme CSS -->  
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Javascript -->          
    <script type="text/javascript" src="{{ site.baseurl }}assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="{{ site.baseurl }}assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script> 
    <!-- custom js -->
    <script type="text/javascript" src="{{ site.baseurl }}assets/js/main.js"></script>
</head> 
