<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Freelance <br/> Android & Game <br/> Developer</h1>
            </p>
            <img src="{{ site.baseurl }}img/team/profile3.jpg" class="img-responsive img-circle center-block" alt="" width="20%" height="20%">
            <br/>
            <p class="section-heading">Julian Giesen</p>
            <!-- <hr>
            <p>Professionelle Entwicklung von Apps für Android/iOS und Games für alle Plattformen </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">erfahre mehr</a> -->
        </div>
    </div>
</header>
