<div class="header">
	<div class="container">
        <img class="profile-image img-responsive pull-left" src="{{ site.baseurl }}assets/images/profile3.png" alt="Julian Giesen" />
        <div class="profile-content pull-left">
            <h1 class="name">{{ site.author.name }}</h1>
            <h2 class="desc">{{ site.author.title }}</h2>
            <ul class="social list-inline">
                <li><a href="{{ site.author.googleplus }}"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="{{ site.author.xing }}"><i class="fa fa-xing"></i></a></li>
                <li><a href="{{ site.author.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                <li class="last-item"><a href="{{ site.author.github }}"><i class="fa fa-github-alt"></i></a></li>
            </ul>
        </div>
        <a class="btn btn-info pull-right" target="_blank"><i class="fa fa-cog"></i> Under Construction</a>
    </div>
</div>
