---
layout: section
type: primarysection
title: Work Experience
---

<section class="experience section">
  <h3 class="title with-icon"><span class="glyphicon glyphicon-briefcase cat-title"></span>Work Experience</h3>
  <div class="grid-block">
      {% if site.author.work_history %}
          <ul class="timeline">
              {% for work in site.author.work_history %}
                  <li class="timeline-inverted">
                      {% if work.started %}
                          <div class="timeline-badge info">{{ work.started }}</div>
                      {% endif %}
                      <div class="timeline-panel grid-block">
                          <div class="timeline-heading">
                              {% if work.company %}
                                  <h4 class="timeline-title"><a href="{{ work.link }}">{{ work.company }}</a> </h4>
                              {% endif %}
                              <p>
                                  <small class="text-muted">
                                      {% if work.title %}
                                          {{ work.title }}
                                      {% endif %}
                                  </small>
                              </p>
                              <p>
                                  <small class="text-muted">
                                      {% if work.duration %}
                                          <i class="fa fa-calendar"></i> {{ work.duration }} |
                                      {% endif %}
                                      {% if work.location %}
                                          <i class="fa fa-map-marker"></i>  {{ work.location }}
                                      {% endif %}
                                  </small>
                              </p>
                          </div>
                          <div class="timeline-body">
                              {% if work.description %}
                                  <p>{{ work.description }}</p>
                              {% endif %}
                          </div>
                      </div>
                  </li>
              {% endfor %}
          </ul>
      {% endif %}
  </div>
</section>
<div class="deviter"></div>
